{% extends "layout.html" %}

{% block content %}
<div class="justify-content-center" style="height:300px">
    <div class="my-auto">
        <div class="mw-100 text-center font-weight-bold" style="font-size:20vw">
            404
        </div>
    </div>

    <div class="row">
        <div class="mw-100 text-center font-weight-bold" style="font-size:2vw">
            Oh no.... it seems you have stumbled upon that which should not be seen!
            <br>
            Be quick and skidaddle on out of here.
            <br>
            <a href="https://presale.topl.co">https://presale.topl.co</a>
        </div>
    </div>
</div>


{% endblock %}