{% extends "layout.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="bg-success col-10 rounded-top" style="height:80px">
        <div class="row h-100">
            <div class="col my-auto">
                <span class="oi oi-circle-check" title="circle-check" aria-hidden="true" style="font-size:3vw"></span>
            </div>
            <div class="col my-auto">
                <div class="banner text-center font-weight-bold">
                    Accepted!
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="col-10 border rounded-bottom">
            <h5 class="text-justify p-3">
            Your identity has been successfully verified and you are now eligible to participate in the Topl presale!
            <br>
            <br>
            Before you can receive your bonus, Topl must record your KYC eligibility to our presale contracts on the Ethereum mainnet.
            Instructions for how to participate in the sale may be found at the presale website linked below.
            <br>
            <br>
            You may view your KYC transaction  on etherscan at the address below to know when your KYC transaction has been confirmed.
            <br>
            tx: <a href="{{ tx_url }}">{{ tx_hash }}</a>
            <br>
            <br>
            Thank you for being a part of the Topl presale.
            <br>
            <a href="https://presale.topl.co">https://presale.topl.co</a>
        </h5>
    </div>
</div>

{% endblock %}

 