{% extends "layout.html" %}

{% block content %}
<div class="row justify-content-center">
        <div class="bg-danger col-10 rounded-top" style="height:80px">
                <div class="row h-100">
                    <div class="col my-auto">
                        <span class="oi oi-x" title="x" aria-hidden="true" style="font-size:3vw"></span>
                    </div>
                    <div class="col-10 my-auto">
                        <div class="very-long-banner text-center font-weight-bold">
                            Document Verification Failed!
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
    <div class="col-10 border rounded-bottom bg-light">
        <h5 class="text-justify p-3">
            Thank you for completing Topl's KYC process.
            Unfortunately, you are ineligible to participate in our sale. 
            <br>
            <br>
            If you have any questions, you may contact us at <a href="info@topl.me">info@topl.me</a>
            <br>
            <br>
            We thank you for your support.
            <br>
            <a href="https://presale.topl.co">https://presale.topl.co</a>
        </h5>
    </div>
</div>
{% endblock %}