<header class="header1" id="header1">

    <div class="bg-col">

        <div class="container">

            <div class="intro center-content">
                <div class="row">

                    <div class="col-md-12">
                        <div class="tag-line text-center">James Aman Productions</div>
                        <h1 class="pull-stop" data-selector="h1" style="">Topl KYC Selector</h1>
                        <p class="m-auto" data-selector="p">
                            This is a pretty empty useless page for presenting these two buttons below which will eventually be links
                        </p>
                        <div class="text-center">
                            <a href="http://cnn.com" class="btn btn-info button" data-selector="a.btn, button.btn">General Form</a>
                            <a href="http://topl.co" class="btn btn-success button" data-selector="a.btn, button.btn">Investor Form</a>
                        </div>
                    </div> 

                </div><!-- row -->

            </div><!-- intro -->

        </div><!-- container -->
    </div><!-- container -->

</header><!-- header -->
