<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Topl | Empowering Growth, Enabling Investment</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/main.820548c6.css') }}" rel="stylesheet">
</head>

<body>
    <div id="main"></div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.1471ed7c.js') }}"></script>
</body>

</html>
