<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Topl | Empowering Growth, Enabling Investment</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>

<body>
    <div id="main"></div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
