{% extends "layout.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="bg-secondary col-12 rounded-top" style="height:80px">
        <div class="row h-100">
            <div class="col-2 my-auto">
                <span class="oi oi-document" title="document" aria-hidden="true" style="font-size:3vw"></span>
            </div>
            <div class="col my-auto">
                <div class="banner text-center font-weight-bold">
                    Introduction to Ethereum
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <div class="col-12 border rounded-bottom bg-light">
        <h4 class="p-3">A quick breakdown of important concepts and applications for interacting with the Ethereum
            blockchain</h4>
        <p>
            This introduction is meant for those uncertain with how to interact with the Ethereum network.
            As an emerging technology, blockchains can sometimes appear daunting to those unfamiliar with the
            jargon and lingo. Below we'll walk through the several key topics and provide links to further resources.
        </p>
        <p>If you encounter any problems or have issues participating in the Topl pre-sale please email
            <a href="mailto:info@topl.me">info@topl.me</a>
        </p>
        <ul>
            <li><a href="#ethereum">What is Ethereum?</a></li>
            <li><a href="#metamask">How do I interact with smart contracts?</a></li>
            <li><a href="#deposit">How do I get Ether?</a></li>
            <li><a href="#safe">Is it safe?</a></li>
        </ul>
        <hr />
        <h3><a name="ethereum">What is Ethereum?</a></h3>
        <p>
            So if you've made it here and are unfamiliar with Ethereum, let me be the first to welcome you! Before we
            get into some specifics though, please be advised to FULLY understand the risks involved with placing funds
            on the Ethereum network. While the technology behind Ethereum is incredibly secure and robust, most errors
            occur due to user misunderstanding or error. Due to the nature of the underlying technology, mistakes
            cannot be reversed so be careful and understand what you are doing.
        </p>
        <p>
            Ethereum is a popular general-purpose blockchain network that launched in 2015. You may be familiar with
            another blockchain network, Bitcoin, which has received a lot of attention on the internet and in the
            media. Bitcoin is a predecessor to the Ethereum network a has really led the way for blockchains adoption.
            The Bitcoin network is limited to simply payments though and Ethereum's biggest innovation was the creation
            "smart contracts". These smart contracts are really just simple programs that anyone can interact with on
            the Ethereum network. That is revolutionary! Now we have a decentralized global infrastructure that allows
            anyone, anywhere, at anytime to interact with a simple program and have the entire network come to
            agreement about how that interaction occured. Not only does everyone agree about how the interaction
            occured but it is also impossible to erase the existence of that interaction.
        </p>
        <h4>Simple use case</h4>
        <p>
            Imagine loaning a friend $10 and agreeing to a repayment date. Then your friend forgets and denies you ever
            loaned them the money. This type of interaction is the basis for real world contracts with lawyers but now
            using Ethereum you can loan you friend $10 and record the transaction and repayment date onto the network.
            Then come the date of repayment, you have an unchanging immutable record you can point back to when asking
            for collection. Additionally, you can have the contract compute the interest owed and enforce repercussions
            of what happens on default of payment.

            Building on top of this infrastructure, you might imagine a whole bunch of interactions between people that
            could benefit from the increased transparency and immutability of data that blockchains can provide.
        </p>
        <p>
            Below are some links to various sources around the web to give you a better understanding of Ethereum and
            blockchains in general.
            <br />
            <a href="https://blockgeeks.com/guides/what-is-ethereum/" rel="noopener noreferrer" target="_blank">Blockgeeks:
                What is Ethereum?</a>
            <br />
            <a href="https://blog.coinbase.com/a-beginners-guide-to-ethereum-46dd486ceecf" rel="noopener noreferrer"
                target="_blank">Coinbase: Intro to Ethereum</a>
            <br /> <br />
            For those looking to nerd out on an accessible but slightly technical description of how blockchains work
            <br />
            <a href="https://www.youtube.com/watch?v=_160oMzblY8" rel="noopener noreferrer" target="_blank">Anders
                Blockchain explainer</a>
        </p>
        <hr />
        <h3><a name="metamask">How do I interact with smart contracts?</a></h3>
        <a style="margin-left: 0; margin-right: auto;" href="https://metamask.io/" rel="noopener noreferrer" target="_blank">
            <img src="{{ url_for('static', filename='img/400px-Metamask.png') }}" height=100px alt="Metamask">
        </a>
        <p>
            Topl recommends that new users to the Ethereum network use a browser extension called Metamask to interact
            with the Ethereum network. Steps to downloading and installing can be found by
            clicking on the logo above.
            <br />
            <br />
            <a href="https://youtu.be/6Gf_kRE4MJU" rel="noopener noreferrer" target="_blank">How Does Metamask
                work?</a>
            <br />
            <br />
            Metamask is essentailly a user controlled wallet that allows users to interact with decentralized
            application (dApps) which are run using Ethereum smart contracts. Please follow all the instructions from
            Metamask to ensure you do not lose access to your Ethereum account.
            <br />
            <br />
            See below for some more useful links to learning about Metamask
            <br />
            <a href="https://metamask.zendesk.com/hc/en-us/sections/360002198491-MetaMask-Basics" rel="noopener noreferrer"
                target="_blank">Metamask Basics</a>
            <br />
            <a href="https://metamask.zendesk.com/hc/en-us/sections/360002148511-MetaMask-FAQs" rel="noopener noreferrer"
                target="_blank">Blockgeeks:
                Metamask: FAQ</a>
        </p>
        <hr />
        <h3><a name="deposit">How do I get Ether?</a></h3>
        <p>
            Once you have installed Metamask, the easiest way to fund your account is to purchase tokens from an
            exchange and send them to yourself. Below we provide a simple demonstration using <a href="https://coinbase.com rel="
                noopener noreferrer" target="_blank">Coinbase</a> and purchasing
            funds with a credit card. However, this is not the only route and we encourage users to research
            alternative strategies to fund their wallets, if they choose.
        </p>
        <ul>
            <li>
                Once you have installed Metamask you will see the option to "Deposit" as shown
                <br />
                <img src="{{ url_for('static', filename='img/walkthrough/select-deposit.png') }}" width=50% class="p-3">
            </li>
            <br />
            <li>
                After clicking, "Deposit" you are presented with a few options for how to fund your account. For now we
                are going to choose Coinbase.
                <br />
                <img src="{{ url_for('static', filename='img/walkthrough/deposit.png') }}" width=50% class="p-3">
            </li>
            <br />
            <li>
                Fill in the amount you wish to purchase and an email address which will be used to access your Coinbase
                account.
                <br />
                <img src="{{ url_for('static', filename='img/walkthrough/setup-purchase.png') }}" height=300px class="p-3">
            </li>
            <br />
            <li>
                Fill in your name, state, and agree to the terms.
                <br />
                <img src="{{ url_for('static', filename='img/walkthrough/enter-name.png') }}" height=300px class="p-3">
            </li>
            <br />
            <li>
                You will then be sent a confirmation code to the email you provided which you must enter into the field
                in order to verify your identity.
                <br />
                <img src="{{ url_for('static', filename='img/walkthrough/identity.png') }}" height=300px class="p-3">
            </li>
            <br />
            <li>
                Enter the information needed to confirm your identity and create your Coinbase account.
                <br />
                <img src="{{ url_for('static', filename='img/walkthrough/personal-details.png') }}" height=300px class="p-3">
            </li>
            <br />
            <li>
                Choose your source of funds. Follow the prompts if you would like to link a bank account but for the
                purposes of this walkthrough we'll choose a credit/debit card.
                <br />
                <img src="{{ url_for('static', filename='img/walkthrough/source.png') }}" height=300px class="p-3">
            </li>
            <br />
            <li>
                Enter your card details and click "Continue"
                <br />
                <img src="{{ url_for('static', filename='img/walkthrough/card-details.png') }}" height=300px class="p-3">
            </li>
            <li>
                Confrim your purchase amount
                <br />
                <img src="{{ url_for('static', filename='img/walkthrough/confirm-purchase.png') }}" height=300px class="p-3">
            </li>
            <li>
                Congratulations! You have just purchased Ether. Your funds should appear in Metamask shortly. Once there you can return to the pre-sale homepage and participate in the sale.
                <br />
                <img src="{{ url_for('static', filename='img/walkthrough/confirm.png') }}" height=300px class="p-3">
            </li>
        </ul>
        <hr />
        <h3><a name="safe">Is it safe?</a></h3>
        <p>
            The blockchain technology which underlies Ethereum is incredibly robust and secure but due to the newness
            of the field many scammers have devised clever ways to trick user out of their funds. While the tips below
            are not an exhaustive list of steps you should take to protect yourself, they do serve as a good starting
            point for skepticism. Remember to always double check the address before you send funds and never follow
            prompts if you are unsure or suspicious of their origins or intent.
        </p>
        <ul>
            <li>
                Topl will never contact you on social media with a naked wallet address and ask you to send funds to
                it. If you receive such a request please email info@topl.me and do not make the transaction
            </li>
            <li>
                Whenever you are not using MetaMask to check your balance or make a transaction log out of it
            </li>
            <li>
                Be aware of fake pop ups that prompt you to send funds via your MetaMask. Always double check where you
                are sending funds and NEVER click "Confirm" if you are unsure
            </li>
            <li>
                Never enter your MetaMask password, private key, or seed phrase into a third-party website. You should
                only input your password, private key, or seed phrase into the official application.
            </li>
            <li>
                If an offer appears "to good to be true" it probably is and is looking for some way to steal your
                funds.
            </li>
        </ul>
        <p>Once more, welcome to the world of Ethereum and blockchains! This last bit may have seemed worrying but is
            only meant as a caution and to remind you that YOU are in control of your funds nad therefore responsible
            for where they are sent.
            <br />
            <br />
            Be safe, don't panic, and always bring a towel.
            Thank you for supporting Topl!</p>
    </div>
</div>

{% endblock %}