<!DOCTYPE html>
<html  lang="en">

<head>
    <title>Topl | Empowering Growth, Enabling Investment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='open-iconic/font/css/open-iconic-bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>


<body style="background-image:url('/static/media/background.e9091fe5.png');background-repeat: no-repeat; background-size: cover;">
    <nav class="navbar navbar-light bg-transparent">
        <a class="navbar-brand" href="https://presale.topl.co">
            <img src="{{ url_for('static', filename='img/topl_logo_white.svg') }}" height="100px" alt="Topl">
        </a>
    </nav>
    <div class="container">
        <br>
        {% block content %}{% endblock %}
        <br>
    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>