<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Horizontally Centered Box With Drop Shadows</title>
<style type="text/css">
<!--

body {
margin:0;
padding:0;
background-color: #fff;
text-align: center;
	}

#container {
	width:75%;
	margin:100px auto;
	}

.back-div {
    -webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
  -webkit-box-shadow: rgba(0, 0, 0,.30) 0 2px 3px;

  width: 60%; 
	}
	
.front-div {
text-align:left;
background-color: #fff;
margin: -3em 0 0 -3em;
padding: 1.5em;
	}

-->
</style>
</head>
<body>
<div id="container">
  <div class="back-div">
	<div class="front-div">
	  <h1>Horizontally Centered box with drop shadows</h1>
	  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus varius eleifend tellus. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Nulla facilisi. Sed wisi lectus, placerat nec, mollis quis, posuere eget, arcu. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus varius eleifend tellus. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Nulla facilisi. Sed wisi lectus, placerat nec, mollis quis, posuere eget, arcu.</p>
	</div>
  </div>
</div>
</body>
</html>