{% extends "layout.html" %}

{% block content %}
<div class="row justify-content-center">
        <div class="bg-warning col-10 rounded-top" style="height:80px">
                <div class="row h-100">
                    <div class="col my-auto">
                        <span class="oi oi-timer" title="timer" aria-hidden="true" style="font-size:3vw"></span>
                    </div>
                    <div class="col-9 my-auto">
                        <div class="long-banner text-center font-weight-bold">
                            Manual Review
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
    <div class="col-10 border rounded-bottom">
        <h5 class="text-justify p-3">
            Thank you for completeing Topl's KYC process. 
            We have received your information and are manually reviewing it.
            <br>
            <br>
            Please note that residents of the United States must be accredited investors to be
            eligbile to participate in the Topl Presale. We will send an email to the address you
            provided once our review is complete. 
            <br>
            <br>
            If you have any questions, please feel free to contact us at <a href="info@topl.me">info@topl.me</a>
            <br>
            <br>
            We thank you for your support.
            <br>
            <a href="https://presale.topl.co">https://presale.topl.co</a>
        </h5>
    </div>
</div>
{% endblock %}