{% extends "layout.html" %}

{% block content %}
<div class="row justify-content-center">
  <div class="bg-primary col-10 rounded" style="height:80px">
    <div class="row h-100">
      <div class="col my-auto">
        <span class="oi oi-cog text-white" title="cog" aria-hidden="true" style="font-size:3vw"></span>
      </div>
      <div class="col-8 my-auto">
        <div class="long-banner text-center font-weight-bold text-white">
          Choose your form
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <div class="row justify-content-center p-3 bg-light">
    <div class="col">
    <form action="/testform/general" method="get">
      <button class="btn btn-outline-warning" type="submit">
        <h3>General Form</h3>
      </button>
    </form>
    </div>
    <div class="col">
    <form action="/testform/vip" method="get">
      <button class="btn btn-outline-success" type="submit">
        <h3>Investor Form</h3>
      </button>
    </form>
    </div>
  </div>
</div>

{% endblock %}